@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--/main--><!--//main--><!--//main--><!--//main--><!--//main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">About</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a href="#">
                            <img src="~/webtema/images/b5.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <h3>
                        About & demo & About
                    </h3>
                    <!--/Microsoft SQL Server-->
                    @foreach(var item in Model)
                    {
                        <p>@item.AboutDetails1</p>
                    }
                    <!--/Microsoft SQL Server-->
                    <a href="#" class="btn btn-primary read-m">Read More</a>
                </div>
                @*<div class="row">
                    <div class="col-md-6 card mt-3">
                    <img class="card-img-top" src="~/webtema/images/2.jpg" alt="Card-image">
                    <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor </h5>
                    <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
                    <a href="#" class="btn btn-primary read-m">Read More</a>
                    </div>
                    </div>
                    <div class="col-md-6 card mt-3">
                    <img class="card-img-top" src="~/webtema/images/3.jpg" alt="Card-image">
                    <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor </h5>
                    <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
                    <a href="#" class="btn btn-primary read-m">Read More</a>
                    </div>
                    </div>
                    <div class="col-md-6 card mt-3">
                    <img class="card-img-top" src="~/webtema/images/2.jpg" alt="Card-image">
                    <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor </h5>
                    <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
                    <a href="#" class="btn btn-primary read-m">Read More</a>
                    </div>
                    </div>
                    <div class="col-md-6 card mt-3">
                    <img class="card-img-top" src="~/webtema/images/3.jpg" alt="Card-image">
                    <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor </h5>
                    <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
                    <a href="#" class="btn btn-primary read-m">Read More</a>
                    </div>
                    </div>
                    </div>*@
            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="~/webtema/images/banner1.jpg" class="img-fluid" alt="">
                    </div>


                    <!--/SubscribeMail--><!--/SubscribeMail--><!--/SubscribeMail--><!--/SubscribeMail-->
                    @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                    <!--/SubscribeMail--><!--/SubscribeMail--><!--/SubscribeMail--><!--/SubscribeMail-->

                    <!--/SocialMedia--><!--/SocialMedia--><!--/SocialMedia--><!--/SocialMedia-->
                    @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")
                    <!--/SocialMedia--><!--/SocialMedia--><!--/SocialMedia--><!--/SocialMedia-->


                    <div class="tech-btm">
                        <h4>Recent Posts</h4>

                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="#">
                                    <img src="~/webtema/images/1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Jan, 2018

                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="#">
                                    <img src="~/webtema/images/7.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Jan, 2018

                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="#">
                                    <img src="~/webtema/images/4.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">
                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Feb, 2018

                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="#">
                                    <img src="~/webtema/images/5.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Jan, 2018

                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="#">
                                    <img src="~/webtema/images/6.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Jan, 2018

                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="#">
                                    <img src="~/webtema/images/8.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">
                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Feb, 2018

                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<!--//main--><!--//main--><!--//main--><!--//main--><!--//main-->